*~
*.a
*.o
*.lo
*.la
*.so
*.so.?
*.so.?.?.?
*.cache
autom4te.cache
libtool
config.log
config.status
Makefile
.deps
.dirstamp
.libs
.vscode
clients/mapscrn/twmapscrn
clients/tw*
include/config.h
include/stamp-h1
include/Tutf/version.h
include/Tw/autoconf.h
include/Tw/version.h
include/twautoconf.h
include/twconfig.h
include/version.h
server/mycat
server/twdisplay
server/twin
server/twin_server
scripts/include
scripts/txt
