*.a
*.o
*.lo
*.la
*.so
*.so.?
*.so.?.?.?
autom4te.cache
libtool
config.log
config.status
Makefile
Makefile.in
.deps
.dirstamp
.libs
clients/mapscrn/twmapscrn
clients/twattach
clients/twcat
clients/twclip
clients/twcuckoo
clients/twdetach
clients/twdialog
clients/twdm
clients/twevent
clients/twfindtwin
clients/twlsmsgport
clients/twlsobj
clients/twsendmsg
clients/twsetroot
clients/twsysmon
clients/twterm
clients/twthreadtest
include/config.h
include/stamp-h1
include/twautoconf.h
include/Tw/Twautoconf.h
server/twdisplay
server/twin
server/twin_real
server/twin_wrapper
